.userList {
    flex: 4;
  }
  
  .userListUser {
    display: flex;
    align-items: center;
  }
  
  
  
  .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 10px;
  }
  .userListPost{
    border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
  }
  
  .userListDelete{
      color: red;
      cursor: pointer;
      margin-right: 10px;
      margin-left: 10px;
  
  }